<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>


    <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
      <div *ngIf="cadastro; else formLogin">
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>
      <ng-template #formLogin>
        <app-login></app-login>
      </ng-template>
    </div>

    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
        <app-login (exibirPainel)="exibirPainel($event)"></app-login>
      </div>
    </ng-template>

  </div>
</div>